<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>游戏详情页</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!--    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>-->
    <script src="js/vue.min.js"></script>
    <script src="./js/vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <style>
        /**{
            margin: 0;
            padding: 0;
        }*/
        /*.el-col {
            border: 1px solid red;
        }*/

        .el-main {
            padding: 0;
        }

        #vline {
            background-color: #b2b2b2;
        }

        .i:hover {
            transform: scale(1.1);/*缩放1.1倍*/
            /*border: 1px solid black;*/
            /*position: relative;
            bottom: 5px;
            !*元素阴影: x偏移值 y偏移值 浓度 范围 颜色*!
            box-shadow: 0 0 12px 5px #333;*/
        }
        .p1{
            margin: 60px 0 6px 0;
            color: #121212;
            font-size: 16px;
        }
        .s1{
            background-color: #1b688d;
            cursor: pointer;
            margin-bottom: 6px;
        }
        .s1:hover{
            background-color: #439ed2;
        }
        .i1{
            border:1px solid rgb(69, 35, 32);
        }
        .game_detail{
            font-size: 12px;
            color: #68aacc;
            margin-top: 14px;
            overflow: hidden;
        }
        #label{
            font-size: 4px;
        }
        .add_btn{
            float: left;
            background-color: #195a78;
            font-size: 12px;
            color: #b4ceed;
            padding: 8px 18px;
            border-radius: 2px;
            margin-right: 40px;
            cursor: pointer;
        }
        .add_btn:hover{
            background-color: #2682af;
            color: #f3f3f3;
        }
        .line_divider{
            background: linear-gradient(90deg, rgba(15, 33, 110, 0.919) 11.38%, rgba(56, 97, 135, 0.8) 25.23%, rgb(240, 240, 244) 100%);
            margin: 0 0 20px 0;
        }
        .sys_text_key{
            margin-right: 10px;
            color: #042854;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <!--logo 登陆/注册链接-->
        <el-header height="100px" style="margin: 10px 0;padding: 0">
            <el-row style="margin-top: 10px" type="flex" justify="center">
                <!--logo-->
                <el-col :span="8">
                    <img src="./imgs/logo.png" alt="">
                </el-col>

                <!--登录/注册模块-->
                <el-col :span="8">
                    <!--已登录-->
                    <div v-if="isLogin" style="float: right; line-height: 96px;color: #454545">
                        <span>你好!  {{user.nickname}}</span>
                        <el-divider id="vline" direction="vertical"></el-divider>
                        <a href="shopping_car.html">游戏盒</a>
                        <el-divider id="vline" direction="vertical"></el-divider>
                        <a href="javascript:void(0)" @click="logout()">退出登录</a>
                        <a href="user_info.html"
                           style="display: block;width:36px;height:36px;margin-top: 26px;float:right;margin-left: 20px;border: 2px solid #da544a;position: relative">
                            <img :src="user.user_avatar_url" width="100%" height="100%" style="position: absolute;">
                        </a>
                    </div>
                    <!--未登录-->
                    <div v-else style="float: right; line-height: 96px">
                        <a href="/login.html">登录</a>
                        <el-divider id="vline" direction="vertical"></el-divider>
                        <a href="/register.html">注册</a>
                    </div>
                </el-col>

            </el-row>
        </el-header>
        <!--导航栏-->
        <el-row type="flex" justify="center">
            <el-col :span="16">
                <div class="nav">
                    <a href="index.html" class="nav_lab">游戏商店</a>
                    <a href="javascript:void(0)" class="nav_lab" @mouseenter="changeTrueShow()" @mouseleave="changeFalseShow()">游戏分类</a>
                    <a href="javascript:void(0)" class="nav_lab" @click="splitSearch(1)">热销游戏</a>
                    <a href="javascript:void(0)" class="nav_lab" @click="splitSearch(2)">新品游戏</a>
                    <a href="javascript:void(0)" class="nav_lab" @click="splitSearch(3)">优惠游戏</a>
                    <a href="javascript:void(0)" class="nav_lab">游戏机和配件</a>
                    <input type="text" placeholder="搜索" v-model="search">
                    <img src="./imgs/search_icon.png" alt="" @click="searchSend()">
                </div>
            </el-col>
        </el-row>

        <!--悬浮导航栏-->
        <el-row type="flex" justify="center" id="aaa">
            <el-col :span="16">
                <div id="suspend_nav" v-show="isShow" @mouseenter="changeTrueShow()" @mouseleave="changeFalseShow()">
                    <div class="sort_title" v-for="i in sort">
                        <!--分类标题-->
                        <div style="float: left;font-weight: bold;">{{i.sort_title}}</div>
                        <!--分类子项-->
                        <div style="float: left;width: 1120px;border-bottom: 1px dashed white;padding-bottom: 16px;float: right">
                            <div class="sort_item" v-for="j in i.sort_item"><a :href="'/classify.html?sort_item='+j">{{j}}</a></div>
                        </div>
                    </div>
                </div>
            </el-col>
        </el-row>
        <!--视频详情块-->
        <el-row type="flex" justify="center" style="margin-top: 40px">
            <!--视频-->
            <el-col :span="10">
                <p style="font-size: 24px; margin-bottom: 16px;">
                    {{particulars.name}}
                </p>
                <div>
                    <video muted autoplay controls width="792px" :src="movies">

                    </video>
                </div>
                <div style="margin-top: 6px">
                    <el-row :gutter="12">
                        <el-col :span="6" v-for="i in picUrls" style="height: 111px">
                            <img :src="i.value" WIDTH="100%" HEIGHT="100%"  @click="play(i.id)" style="transition-duration: 1.25s;" class="i"></a>
                        </el-col>
                    </el-row>
                </div>
            </el-col>
            <!--游戏详情信息-->
            <el-col :span="6">
                <div style="margin: 69px 0 10px 20px ;">
                    <img :src="particulars.img_title_url" alt="" width="100%">
                </div>
                <div style="margin-left: 20px">
                    <p style="font-size:14px;color: #333333">{{particulars.content}}</p>
                    <!--销量-->
                    <div class="game_detail" style="margin-top: 30px;">
                        <div style="float: left;margin-right: 6px">销量:</div>
                        <div style="float: left;margin: 2px 6px 0 0">{{particulars.sale_count}}</div>
                    </div>
                    <!--热度-->
                    <div class="game_detail">
                        <div style="float: left;margin-right: 6px">热度:</div>
                        <div style="float: left;margin: -1px 6px 0 0">
                            <el-rate
                                    v-model="value">
                            </el-rate>
                        </div>
                    </div>
                    <!--标签-->
                    <div class="game_detail">
                        <div style="margin-right: 6px;overflow: hidden">该产品的热门用户自定义标签:</div>
                        <div v-for="c in typeArr" style="margin:6px 6px 0px 0px;float: left">
                            <div id="label" style="display: inline-block;padding: 4px 12px;background-color: #4981bd; border-radius: 2px;line-height: 16px"><a :href="'/classify.html?id='+c.sort_item" style="color:#e5e5e5;">{{c.sort_item}}</a></div>
                        </div>
                    </div>
                    <!--售价-->
                    <div style="font-size: 26px;color: #1b688d;margin-top: 20px;overflow: hidden">
                        <div style="float: left;font-size: 18px;margin: 8px 6px 0 0;color: #2384b3">¥</div>
                        <div style="float: left;font-weight: lighter">{{particulars.cur_price}}</div>
                    </div>
                    <!--两个按钮-->
                    <div style="margin-top: 30px">
                        <div class="add_btn" @click="add(particulars.game_id)">添加至您的游戏盒</div>
<!--                        <div class="add_btn">购买</div>-->
                    </div>
                </div>
            </el-col>
        </el-row>
        <!--关于游戏-->
        <el-row justify="center" type="flex">
            <el-col :span="16">
                <div class ="p1">关于这个游戏</div>
                <el-divider class="line_divider"></el-divider>
                <img :src="particulars.mid_img" alt="" width="100%">
                <ul v-for="d in about" style="padding-left: 20px">
                    <li style="font-size: 14px;margin-bottom: 20px">
                        {{d.headline}}
                        <p style="margin: 3px 0 0 0;font-size: 12px;color: #333333">{{d.content}}</p>
                    </li>
                </ul>

            </el-col>
        </el-row>
        <!--系统需求-->
        <el-row justify="center" type="flex">
            <el-col :span="16">
                <div class ="p1">系统需求</div>
                <el-divider class="line_divider"></el-divider>
            </el-col>
        </el-row>
        <el-row justify="center" type="flex">
            <el-col :span="8" style="overflow:hidden;color: #333333">
                <p style="margin-bottom: 4px;font-size: 12px;color: black">最低配置:</p>
                <p style="margin-bottom: 4px;font-size: 12px">需要 64 位处理器和操作系统</p>
                <p v-for="sysDetail in lowSys" style="font-size: 12px;margin-bottom: 4px">
                    <span class="sys_text_key">{{sysDetail.key}}</span><span>{{sysDetail.value}}</span>
                </p>
            </el-col>
            <el-col :span="8" style="overflow:hidden;color: #333333">
                <p style="margin-bottom: 4px;font-size: 12px;color: black">推荐配置:</p>
                <p style="margin-bottom: 4px;font-size: 12px">需要 64 位处理器和操作系统</p>
                <p v-for="sysDetail in recommendSys" style="font-size: 12px;margin-bottom: 4px">
                    <span class="sys_text_key">{{sysDetail.key}}</span><span>{{sysDetail.value}}</span>
                </p>
            </el-col>
        </el-row>
        <!--玩家评论-->
        <el-row justify="center" type="flex">
            <el-col :span="14">
                <div class="p1">玩家评论</div>
            </el-col>
            <el-col :span="2">
                <input type="button" value="评论" @click="open()"
                       style="float: right;padding: 6px 20px;color:white; outline:none;border: none;border-radius: 3px;margin: 60px 0 10px 0"
                       class="s1">
            </el-col>
        </el-row>
        <el-row justify="center" type="flex">
            <el-col :span="16">
                <el-divider class="line_divider"></el-divider>
            </el-col>
        </el-row>
        <!--显示评论-->
        <el-row type="flex" justify="center" style="height: 100px;">
            <el-col :span="16">
                <div v-for="c in showComment">
                    <p>{{c.nickname}}评论说:{{c.comment}}</p>
                    <img v-for="url in c.urlArr" :src="url"
                         style="width: 100px;height: 100px" alt="">
                    <hr>
                    <!--复评-->
                    <el-row  >
                        <el-col>
                            <div v-for="r in c.gameComments">
                                <p>{{r.nickname}}回复说:{{r.comment}}</p>
                            </div>
                        </el-col>
                    </el-row>

                    <input type="button" value="回复" @click="unfold(c.comment_id)"
                           style="padding: 6px 20px;color:white; outline:none;border: none;border-radius: 3px;margin-top: 2px"
                           class="s1">
                    <!--复评抽屉组件开始
                         direction:代表方向rtl(从右到左right to left) / ltr (左到右)/ ttb (上到下)/ btt(下到上)
                         size:弹出内容占屏幕的百分比
                         :visible.sync 让抽屉是否显示和一个变量进行绑定 true显示 false不显示-->
                    <el-drawer
                            style="text-align: center; margin: 0 auto;"
                            :visible.sync="locker"
                            direction="btt"
                            size="70%">
                        <div style="text-align: center; width: 700px; margin-left: 450px">
                            <el-input class="i1" v-model="gameComment.comment" type="textarea"
                                      :autosize="{ minRows: 2, maxRows: 4}" placeholder="评论点儿啥..."></el-input>
                            <button class="s1" @click="reSend(particulars.game_id)">发布</button>
                        </div>
                    </el-drawer>
                    <!--抽屉组件结束-->
                    <div>
                        <el-divider class="line_divider"></el-divider>
                    </div>
                </div>
            </el-col>
        </el-row>
        <!--抽屉组件开始
                   direction:代表方向rtl(从右到左right to left) / ltr (左到右)/ ttb (上到下)/ btt(下到上)
                   size:弹出内容占屏幕的百分比
                   :visible.sync 让抽屉是否显示和一个变量进行绑定 true显示 false不显示-->
        <el-drawer
                style="text-align: center; margin: 0 auto;"
                :visible.sync="drawer"
                direction="btt"
                size="70%">
            <div>
                <p>{{particulars.name}}</p>
            </div>
            <el-upload
                    action="/upload"
                    name="picFile"
                    list-type="picture-card"
                    :on-preview="handlePictureCardPreview"
                    :on-success="handleSuccess"
                    :on-remove="handleRemove">
                <i class="el-icon-plus"></i>
            </el-upload>
            <el-dialog :visible.sync="dialogVisible">
                <img width="100%" :src="dialogImageUrl" alt="">
            </el-dialog>
            <div style="text-align: center; width: 700px; margin-left: 450px">
                <el-input class="i1" v-model="gameComment.comment" type="textarea"
                          :autosize="{ minRows: 2, maxRows: 4}" placeholder="评论点儿啥..."></el-input>
                <button class="s1" @click="send(particulars.game_id)">发布</button>
            </div>
        </el-drawer>
        <!--抽屉组件结束-->




    </el-container>
</div>

<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    let v = new Vue({
        el: '#app',
        data: function () {
            return {
                carouselArr: ["./imgs/carousel1.png"],
                activeIndex: '1',
                navArr: ["热销游戏", "新品游戏", "优惠游戏", "游戏机和配件"],
                /*游戏详情信息*/
                particulars: {},
                /*视频下的图片*/
                imgArr: [],
                /*热度值*/
                value: 3,
                /*游戏定义标签*/
                typeArr: [],
                /*关于游戏*/
                about: [],
                user: {},
                /*低配*/
                lowSys: [{key: "操作系统:", value: "Windows 7"},
                    {key: "处理器:", value: "Intel 或 AMD 四核心，2.5 GHz"},
                    {key: "内存:", value: "8 GB RAM"},
                    {key: "显卡:", value: "NVIDIA GeForce 760 GTX 或 AMD Radeon R9 280"},
                    {key: "网络:", value: "宽带互联网连接"},
                    {key: "存储空间:", value: "需要 15 GB 可用空间"},
                    {key: "注意事项:", value: "需要麦克风"}],
                recommendSys: [{key: "操作系统:", value: "Windows 10"},
                    {key: "处理器:", value: "Intel Core i7-4770K 或 AMD Ryzen 5 2600"},
                    {key: "内存:", value: "8 GB RAM"},
                    {key: "显卡:", value: "NVIDIA GeForce 1060-6GB 或 AMD RX 580"},
                    {key: "网络:", value: "宽带互联网连接"},
                    {key: "存储空间:", value: "需要 15 GB 可用空间"},
                    {key: "注意事项:", value: "需要麦克风"}],
                gameComment: {
                    comment_id: 0,
                    game_id: 0,
                    parent_id:0,
                    comment: "",
                    urls: "",
                    is_parent:0,
                },
                cArr: [],
                /*视频数组*/
                vid: {},
                /*视频变量*/
                movies: "",
                /*搜索*/
                search: "",
                showComment: [],
                /*抽屉组件*/
                drawer: false,
                reviewComment: {
                    comment_id: 0,
                    game_id: 0,
                    comment: "",
                },
                locker: false,
                showReviewComment:[],
                dialogImageUrl: '',
                dialogVisible: false,
                isLogin: false,
                isShow: false,
                sort:[{sort_title:"动作",sort_item:["动作类Rogue","平台及奔跑","格斗及武术","清版动作","第一人称射击","第三人称射击","街机及节奏"]},
                    {sort_title:"角色扮演",sort_item:["冒险角色扮演","动作角色扮演","回合制","团队制","日系角色扮演","策略角色扮演","类Rogue"]},
                    {sort_title:"策略",sort_item:["军事","卡牌及桌游","即时战略","回合制策略","城市及定居点","塔防","大战略及 4X"]},
                    {sort_title:"冒险及休闲",sort_item:["休闲","冒险","冒险角色扮演","剧情丰富","类银河战士恶魔城","视觉小说","解谜"]},
                    {sort_title:"模拟",sort_item:["农场及制作","太空及飞行","建造及自动化","恋爱","沙盒及物理","爱好与工作","生活及沉浸式"]},
                    {sort_title:"体育及竞技",sort_item:["体育模拟","单人运动","团队体育","所有运动","竞速","竞速模拟","钓鱼及狩猎"]}],
                picUrls:[],
                pic:{
                    id:0,
                    value:""
                }
            }
        },
        //图片切换
        methods: {
            splitSearch(param){
                location.href = "split_search.html?param="+param;
            },
            changeTrueShow(){
                v.isShow = true;
            },
            changeFalseShow(){
                v.isShow = false;
            },
            play(vo) {
                alert(vo)
                /*imgs/imgarr/11.jpg*/
                let d = vo%4
                if (d=="1"){
                    v.movies=v.vid.game_video.split(",")[0];
                }else if(d=="2"){
                    v.movies=v.vid.game_video.split(",")[1];
                }else if(d=="3"){
                    v.movies=v.vid.game_video.split(",")[2];
                }else {
                    v.movies=v.vid.game_video.split(",")[0];
                }
            },
            open() {

                v.drawer = true;
            },
            unfold(commentId) {
                v.gameComment.parent_id = commentId;
                v.locker = true;
            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
                axios.get("/remove?name=" + file.response).then(function (response) {
                    console.log("删除完成!");
                })
                //遍历fileList数组取出数组file对象的图片路径装进一个新的数组里面
                let arr = [];
                for (let file of fileList) {
                    //push往数组中添加元素 file.response图片路径
                    arr.push(file.response);
                }
                //把数组中多个图片路径 合并成一个字符串赋值给urls
                v.gameComment.urls = arr.toString();

            },
            handlePictureCardPreview(file) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            },
            handleSuccess(response, file, fileList) {
                //遍历fileList数组取出数组file对象的图片路径装进一个新的数组里面
                let arr = [];
                for (let file of fileList) {
                    //push往数组中添加元素 file.response图片路径
                    arr.push(file.response);
                }
                //把数组中多个图片路径 合并成一个字符串赋值给urls
                v.gameComment.urls = arr.toString();
            },
            /*搜索*/
            searchSend(){
                location.href = "result.html?name=" + v.search;
            },
            add(gameId){
                axios.get("/isLogin").then(function (response) {
                    if (response.data==1){
                        alert("请先登录")
                        location.href="/login.html";
                    }else{
                        axios.get("shop/insertByShop?gameId="+gameId).then(function (response){
                            if (response.data==1){
                                alert("bbb")
                                alert("请先登录")
                                location.href="/login.html";
                            }else {
                                location.href="/shopping_car.html";
                            }
                        })
                    }
                })

            },
            send(gameId){
                v.gameComment.game_id = gameId;
                v.gameComment.parent_id = 0;
                v.gameComment.is_parent = 1;
                axios.post("/insert",v.gameComment).then(function (response) {
                    if(response.data==1){
                        alert("评论成功")
                        location.href="/detail.html?gameId="+gameId;
                    }else if (response.data ==2){
                        alert("请先登录")
                        location.href="/login.html";
                    }else{
                        alert("系统忙请稍后再试")
                    }
                })
            },
            reSend(gameId){
                v.gameComment.game_id = gameId;
                axios.post("/insert",v.gameComment).then(function (response) {
                    if(response.data==1){
                        alert("评论成功")
                        location.href="/detail.html?gameId="+gameId;
                    }else if (response.data ==2){
                        alert("请先登录")
                        location.href="/login.html";
                    }else{
                        alert("系统忙请稍后再试")
                    }
                })
            },
            logout() {
                if (confirm("您确认退出登录吗?退出后将返回至商城首页"))
                    //发出退出登录请求
                    axios.get("/logout").then(function (response) {
                        v.isLogin = false;//修改这个变量 页面会自动跟着改变
                        location.href="index.html";
                    })
            }

        },

        created:function () {
            //通过gameid查询数据信息
            let id =location.search.split("=")[1];
            axios.get("/game/selectById?gameId="+id).then(function (response) {
                v.particulars=response.data;
                let arr = v.particulars.small_imgs.split(",")
                for (let i=0;i<arr.length;i++){
                    let obj = {
                       "id":i+1,
                       "value":arr[i]
                    }
                    v.picUrls.push(obj)
                }


                // v.imgArr=v.particulars.small_imgs.split(",");
            })
            //通过id查询小图片
            axios.get("/img/selectBygId?gameId="+id).then(function (response) {
                v.imgArr = response.data;
            })
            //通过id查询视频
            axios.get("/video/selectByvId?gameId="+id).then(function (response) {
                v.vid=response.data;
                v.movies=v.vid.game_video.split(",")[0];
            })
            //通过游戏id查询游戏说明
            axios.get("/explain/selectByeId?gameId="+id).then(function (response) {
                v.about=response.data;

            })
            //通过id查询对应的标签
            axios.get("/sort/selectBygId?gameId="+id).then(function (response) {
                v.typeArr = response.data;
            })
            axios.get("/nav/select").then(function (response) {
                v.navArr = response.data;
            })
            axios.get("/comment/selectByGameId?gameId=" + id).then(function (response) {
                v.showComment = response.data;
                for (let c of v.showComment) {
                    c.urlArr = c.urls == "" ? [] : c.urls.split(",");
                }
            })
            //发请求获取当前登录的用户对象,如果有用户对象则代表登录过,反之就是未登录过
            axios.get("/currentUser").then(function (response) {
                //把当前登录的用户对象赋值给user
                v.user = response.data;
                //此时如果response的值是空字符串 代表未登录过
                v.isLogin = response.data == "" ? false : true;
            })
        }
    })
</script>
</body>
</html>