<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>游戏分类</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!--    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>-->
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <style>
        .d1 {
            border: 1px solid red;
            background-color: #FAFAFA;
        }

        .el-main {
            padding: 0;
        }

        #vline {
            background-color: #b2b2b2;
        }

        .smallPic:hover {
            transform: scale(1.1); /*缩放1.1倍*/
        }

        .b {
            background: linear-gradient(
                    90deg, rgb(218, 84, 74) 11.38%, rgb(179, 67, 59) 25.23%, rgb(135, 32, 24) 100%);
            color: #FAFAFA;
        }

    </style>
</head>
<body>
<div id="app">
    <!--顶部-->
    <el-container>
        <el-header height="100px" style="margin: 10px 0;padding: 0">
            <el-row style="margin-top: 10px" type="flex" justify="center">
                <!--logo-->
                <el-col :span="8">
                    <img src="./imgs/logo.png" alt="">
                </el-col>
                <!--登录/注册-->
                <el-col :span="8">
                    <!--已登录-->
                    <div v-if="isLogin" style="float: right; line-height: 96px;color: #454545">
                        <span>你好!  {{user.nickname}}</span>
                        <el-divider id="vline" direction="vertical"></el-divider>
                        <a href="shopping_car.html">游戏盒</a>
                        <el-divider id="vline" direction="vertical"></el-divider>
                        <a href="javascript:void(0)" @click="logout()">退出登录</a>
                        <a href="user_info.html"
                           style="display: block;width:36px;height:36px;margin-top: 26px;float:right;margin-left: 20px;border: 2px solid #da544a;position: relative">
                            <img :src="user.user_avatar_url" width="100%" height="100%" style="position: absolute;">
                        </a>
                    </div>
                    <!--未登录-->
                    <div v-else style="float: right; line-height: 96px">
                        <a href="/login.html">登录</a>
                        <el-divider id="vline" direction="vertical"></el-divider>
                        <a href="/register.html">注册</a>
                    </div>
                </el-col>
            </el-row>
        </el-header>
        <!--导航栏-->
        <el-row type="flex" justify="center">
            <el-col :span="16">
                <div class="nav">
                    <a href="index.html" class="nav_lab">游戏商店</a>
                    <a href="javascript:void(0)" class="nav_lab" @mouseenter="changeTrueShow()" @mouseleave="changeFalseShow()">游戏分类</a>
                    <a href="javascript:void(0)" class="nav_lab" @click="splitSearch(1)">热销游戏</a>
                    <a href="javascript:void(0)" class="nav_lab" @click="splitSearch(2)">新品游戏</a>
                    <a href="javascript:void(0)" class="nav_lab" @click="splitSearch(3)">优惠游戏</a>
                    <a href="javascript:void(0)" class="nav_lab">游戏机和配件</a>
                    <input type="text" placeholder="搜索" v-model="search">
                    <img src="./imgs/search_icon.png" alt="" @click="searchSend()">
                </div>
            </el-col>
        </el-row>

        <!--悬浮导航栏-->
        <el-row type="flex" justify="center">
            <el-col :span="16">
                <div id="suspend_nav" v-show="isShow" @mouseenter="changeTrueShow()" @mouseleave="changeFalseShow()">
                    <div class="sort_title" v-for="i in sort">
                        <!--分类标题-->
                        <div style="float: left;font-weight: bold;">{{i.sort_title}}</div>
                        <!--分类子项-->
                        <div style="float: left;width: 1120px;border-bottom: 1px dashed white;padding-bottom: 16px;float: right">
                            <div class="sort_item" v-for="j in i.sort_item"><a :href="'/classify.html?sort_item='+j">{{j}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </el-col>
        </el-row>
    </el-container>
    <!--分类-->
    <!--中部-->
    <el-container style="margin-top: 20px;">
        <el-main>
            <!--精选和推荐轮播图-->
            <el-row type="flex" justify="center">
                <el-col :span="16">
                    <p style="font-size: 24px; margin-bottom: 16px;">精选和推荐</p>
                    <el-carousel height="450px" interval="6000" indicator-position="outside">
                        <el-carousel-item v-for="(item,index) in sortList" v-if="index<2" :key="item"
                                          style="overflow: hidden">
                            <!--大图片-->
                            <img :src="item.img_title_url" style="width: 792px;height: 100%" alt="">
                            <!--游戏详细信息 小图片-->
                            <div style="float: right;width: 456px;height: 100%;padding-left: 15px;overflow: hidden">
                                <!--游戏名-->
                                <div style="padding: 16px 0 6px 0;font-size: 24px;margin-bottom: 20px">{{item.name}}
                                </div>
                                <!--小图片-->
                                <div class="smallPic" v-for="detailPic in item.small_imgs.split(',')"
                                     style="float: left;margin: 0 8px 8px 0;width: 215px;height: 120px;transition-duration: 1.25s;">
                                    <img :src="detailPic" alt="" width="215px" height="120px" style="margin: 0"
                                         @mouseover="mouseOver(detailPic)"
                                         @mouseleave="mouseLeave">
                                </div>
                                <!--上架状态-->
                                <div style="font-size: 21px;margin-top: 280px">{{item.status}}</div>
                                <!--标签-->
                                <div><span style="display: inline-block;
                                                  width: 60px;
                                                  height: 20px;
                                                  line-height: 20px;
                                                  text-align: center;
                                                  margin-top: 4px;
                                                  background-color: #bebebe;
                                                  font-size: 12px;color: #FFFFFF;border-radius: 2px">{{item.label}}</span>
                                </div>
                                <!--价格 查看详情按钮-->
                                <div style="margin-top: 33px">
                                    <!--价格-->
                                    <span style="font-size: 14px;color: #5d8a9d;line-height: 30px">¥{{item.cur_price}}</span>
                                    <!--查看详情按钮-->
                                    <button class="detail_btn" @click="send(item.game_id)">查看详情</button>
                                </div>
                            </div>
                        </el-carousel-item>
                    </el-carousel>
                </el-col>
            </el-row>
            <!--根据分类查询到的游戏区域-->
            <el-row type="flex" justify="center" style="margin-top: 20px;overflow: hidden">
                <el-col :span="17" style="padding-left: 40px">
                    <div v-for="item in sortList"
                         style="margin-right: 26px;padding-bottom:20px;float: left;background:url('https://store.st.dl.pinyuncloud.com/public/images/v6/colored_body_top.png?v=2') bottom center no-repeat;">
                        <!--图片-->
                        <div style="width: 294px;height: 163px">
                            <img :src="item.img_title_url" width="100%" height="100%" alt="">
                        </div>
                        <!--详细信息-->
                        <div style="color:#ececec;margin:18px 0 0 18px;">
                            <!--游戏名-->
                            <div style="font-size: 16px;">{{item.name}}</div>
                            <!--折扣 价格-->
                            <div style="margin-top: 6px;">
                                <div id="discount_por" style="float: left;height: 36px;line-height: 36px">
                                    {{item.discount}}
                                </div>
                                <div id="price_por" style="float: left;padding: 3px 6px">
                                    <div style="font-size: 12px;color: #82a7c0;text-decoration: line-through;">
                                        ¥{{item.old_price}}
                                    </div>
                                    <div style="color: #acdbf5;font-size: 14px;margin-top: 0px;">¥{{item.cur_price}}
                                    </div>
                                </div>
                            </div>
                            <!--查看详情按钮-->
                            <button class="detail_btn" style="margin: 16px 18px 0 0;float: right"
                                    @click="send(item.game_id)">查看详情
                            </button>
                        </div>
                    </div>
                </el-col>

            </el-row>
        </el-main>

    </el-container>
</div>
</body>
<script src="js/vue.min.js"></script>
<!-- import JavaScript -->
<script src="js/eui.js"></script>
<script src="js/axios.min.js"></script>
<script>
    let v = new Vue({
        el: '#app',
        data: function () {
            return {
                categoryArr: [],
                carouselArr: ["./imgs/carousel1.png"],
                activeIndex: '1',
                navArr: ["热销游戏", "新品游戏", "优惠游戏", "游戏机和配件"],
                sort: {},
                user: {},
                isLogin: false,
                imgId: 1,
                games: [],
                cheap: [],
                bigPicSrc1: "",
                bigPicSrc2: "",
                sortList: [],
                search: "",
                isShow: false,
                sort: [{
                    sort_title: "动作",
                    sort_item: ["动作类Rogue", "平台及奔跑", "格斗及武术", "清版动作", "第一人称射击", "第三人称射击", "街机及节奏"]
                },
                    {sort_title: "角色扮演", sort_item: ["冒险角色扮演", "动作角色扮演", "回合制", "团队制", "日系角色扮演", "策略角色扮演", "类Rogue"]},
                    {sort_title: "策略", sort_item: ["军事", "卡牌及桌游", "即时战略", "回合制策略", "城市及定居点", "塔防", "大战略及 4X"]},
                    {sort_title: "冒险及休闲", sort_item: ["休闲", "冒险", "冒险角色扮演", "剧情丰富", "类银河战士恶魔城", "视觉小说", "解谜"]},
                    {sort_title: "模拟", sort_item: ["农场及制作", "太空及飞行", "建造及自动化", "恋爱", "沙盒及物理", "爱好与工作", "生活及沉浸式"]},
                    {sort_title: "体育及竞技", sort_item: ["体育模拟", "单人运动", "团队体育", "所有运动", "竞速", "竞速模拟", "钓鱼及狩猎"]}]
            }
        },
        created: function () {
            let param = location.search.split("=")[1];
            //根据参数实现不同的搜索功能
            axios.get("/game/splitSearch?param=" + param).then(function (response) {
                v.sortList = response.data;
            })
            //发请求获取当前登录的用户对象,如果有用户对象则代表登录过,反之就是未登录过
            axios.get("/currentUser").then(function (response) {
                //把当前登录的用户对象赋值给user
                v.user = response.data;
                //此时如果response的值是空字符串 代表未登录过
                v.isLogin = response.data == "" ? false : true;
            })

        },
        methods: {
            splitSearch(param){
                location.href = "split_search.html?param="+param;
            },
            /*搜索*/
            searchSend() {
                location.href = "result.html?name=" + v.search;
            },
            changeTrueShow() {
                v.isShow = true;
            },
            changeFalseShow() {
                v.isShow = false;
            },
            send(id) {
                location.href = "detail.html?id=" + id;

            },
            mouseOver(detailPic) {
                for (let i = 0; i < v.games.length; i++) {
                    switch (i) {
                        case 0:
                            v.games[i].img_title_url = detailPic;
                            break;
                        case 1:
                            v.games[i].img_title_url = detailPic;
                            break;
                    }
                }
            },
            // 移出
            mouseLeave() {
                for (let i = 0; i < v.games.length; i++) {
                    switch (i) {
                        case 0:
                            v.games[i].img_title_url = v.detailPic1;
                            break;
                        case 1:
                            v.games[i].img_title_url = v.detailPic2;
                            break;
                    }
                }
            },
            logout() {
                if (confirm("您确认退出登录吗?退出后将返回至商城首页"))
                    //发出退出登录请求
                    axios.get("/logout").then(function (response) {
                        v.isLogin = false;//修改这个变量 页面会自动跟着改变
                        location.href = "index.html";
                    })
            }

        }

    })
</script>
</html>